fastapi
uvicorn
supabase
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
google-ai-generativelanguage
google-genai
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-resumable-media
googleapis-common-protos
httpx
anyio
pydantic
python-dotenv
pydantic-settings